a{
    text-decoration: none;
    align-content:center;
    color: white;
    z-index: 1;
    text-shadow: 4px 4px 8px navy;
}
a:hover{
    text-decoration: underline;
    color:navy;
}
article {
    background-color: navy;
    background: rgba(10, 3, 109, 0.479);
    border-radius: 20%;
    margin-bottom: 20px;
    padding: 25px;
    padding-top: 35px;
    border: 5px solid white;
    height: 400px;
    width: 350px;
    overflow: scroll; 
}
body{
    font-family: 'Architects Daughter', cursive;
    font-size: xx-large;
    text-align: center;
    background-image: url('https://images.alphacoders.com/914/9141.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}
#button{
    float:inherit;
    width: 20%;
    padding: 10px;
    margin-bottom: -700px;
    background: transparent;
    color:white;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
}
#button:hover {
    background-color: rgb(121, 132, 230);
    text-shadow: 8x 8px 16px rgb(86, 98, 207);
}
h1{
    color:white;
    text-shadow: 4px 4px 8px navy;
    -webkit-animation-name: Floatingx;
    animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 30px;
}
@-webkit-keyframes Floatingx {
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);}    
}
@keyframes Floatingx {
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);} 
}
@-moz-keyframes Floating {
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}
@keyframes Floating {
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);} 
}
h2{
    font-size: 40px;
    text-shadow: 4px 4px 4px navy;
    color: white;
}
.header{
    font-size: 55px;
    color: white;
    text-shadow: 4px 4px 8px navy;
}
p{
    font-family: 'Amatic SC', cursive;
    text-shadow: 4px 4px 8px navy;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 0px;
    color: white;
}
.fade-in-text-link{
    animation: fadeIn linear 5s;
    -webkit-animation: fadeIn linear 5s;
    -moz-animation: fadeIn linear 5s;
    -o-animation: fadeIn linear 5s;
    -ms-animation: fadeIn linear 5s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
.searchBar{
    display: inline-block;
    background-color:transparent;
    min-width: 230px;
    border-radius: 50px;
    margin-top: 0px;
}
.searchResults{
    margin-top: 30px;
    display: inline-block;
    flex-direction: row;
    flex-wrap:wrap;
    text-align: left;
    column-count: 3;
    overflow: scroll;
    font-family: 'Amatic SC', cursive;
    font-size:large;
    margin-left: 10px;
    margin-right: 10px;
    overflow:scroll;
    height: auto;
}


